body{
    background-color: #daeac7;
}

aside{
    width: 25%;
    height: 100vh;
    background-color: #c6e88a;
    padding: 2.5%;
    color: black;
    border-right: 5px solid #92ac66;
}
aside a{
    color: black;
}

header {
    width: 100%;
    background-color: #c6e88a;
    border-bottom: 3px solid #92ac66;
}

header .logo{
    font-size: 40px;
    margin-left:10px;
    font-weight: bold;
}
